/* body {background-color:blue}
     h1 {color:red} */
     /* make a link as a button : */
     a:link { border: 2px solid red;
      background-color: green;
      padding: 5px;
      
    }
   
    a:hover{

    /* table styling : */
    background-color: blue;}
    tr:hover{
      background-color: blue;
  }
    td,th{
      text-align: center;
      border: 2px solid red;
      padding-top: 3px;
      padding-left:5px;
      padding-bottom:8px;
      
      border-radius: 10px;
    
    }
    table{
    border-spacing: 5px;}
    tr:nth-child(odd){
    
    background-color: blueviolet;
    border-bottom:green;}
    th:nth-child(even){
    color:orange}

    /* list : */
    ul{
       margin: 0;
       padding: 0;
       overflow: hidden;
       width: 100%;
       list-style-type: none;
        
}
    li {
    float:left;
    width: 200px;
    text-align: center;}
    
    li a{ 
     display: block;        
     
     color: white;
    text-decoration: none;}
    li a:hover{
    background-color: rgb(28, 3, 75);}

      /*class : */
    .player{
    border: 3px solid rgb(128, 59, 212);
    background-color: blue;
    color: white;
    padding: 10px;
    width: 300px;
    margin: auto;}

    /* id : */
    #unique{
    color: cadetblue;}

    
    .one{
      /* border */
    border-style: solid;
    border-width: 15px 10px thick 2px;
    border-color: red green blue purple;
  border-radius: 10px;
    /*margin */
    margin: auto;
    /*paddin */
    width: 300px;
    padding: 20px;
    box-sizing: border-box;

    /*outline */
    outline: 5px solid purple;
    outline-offset: 2px;
      }

  .test{
     background-color: red;
     color: black;}
  .test > p{
     color:green}

     /* text align */
    p.a{
      text-align-last: center /* last line of text */;
      direction: rtl /* right to left */;
      vertical-align:text-top /* text bottom, sub, super*/ ;}

    /* text decoration */

    p.b{
      text-decoration: overline underline ;
      text-decoration-color: blue;
      text-decoration-style:dotted ;
      text-decoration-thickness: auto;
      /* or text-decoration: underline red double 5px*/
      /* text transformation : */
      text-transform: uppercase;}

    /* Text spacing */
    p.c{
      text-indent: 30px /*space before first line*/;
      letter-spacing: 1px; /* space between letters*/
      line-height: 1px; /* space between lines*/
      word-spacing: 1px; /* space between words*/
  }

  /* text shadow : */
  p.d{
    text-shadow: 2px 2px 5px red;}

  /* positions  : 
  static : according to normal flow of the page
  absolute : neareset positioned ancestor
  */
  div.rel{
    border: 2px solid blue;
    position: relative;
    left: 30px;}

  div.fixed{
      border:1px solid purple;
      position: fixed;
      right: 0;
      top: 0;}
  
  div.sticky{
    border:1px solid black;
    position: sticky;
    top:0;}

  div.img{
    position: absolute;
    
    background-color: white;
    left: 100px;
    top: 2px;}
  
  /* z-index*/
  img.a {
  position: absolute;
  left: 200px;
  top: 50px;
  z-index: -1; /*image will be placed before text */
}

  /*overflow */
  div.overflow{
   height: 50px;
   overflow: auto;
  }

  /*clear (element after floated element)*/
   div.clear{
    clear:both;}

    /* combiantors */
    div section{
    background-color: blue;} /*select all sections inside div
    div  */
    div > header{
    font-size:30px} /* select only direct children header of div */
     div + section{
    font-family: 'Courier New', Courier, monospace;} /*select sections that are directly aftera div */
    div ~ header{
    color:yellow}/* select all headers after a div */


    /* post classes */
    a.someclass:hover{
    background-color: pink;} /*select links that are under the class */

    p:first-child{
    font-size: 1px;} /*select first paragraph of each parent */

    /* pseudo elements*/
    p::first-line{
    color: red;}
    p.before::before{
    content: url(/images/messi.jfif)}
    p.selection::selection{
    background-color: yellow;}

    /* dropdowns */
    .dropdown{
    position:relative;
    }
    .dropdown .drop_content{
    display: none;
    position: absolute;
    left: 50px;}
    .dropdown:hover .drop_content  {
    display: block;}

    /*attribute selector*/

    p[title="yellow"]{
    background-color: yellow;}

    /*Counters*/

  body{
  counter-reset: h3_counter;}

  h3{
  counter-reset: h4_counter;}
  h4::before{
  counter-increment: h4_counter;
  content: "section "counter(h4_counter) " : " ;}
/*border image*/
  .borderimg{
    border: 5px solid transparent;
    padding: 15px;
    border-image: url("/images/border.jpg") 30 stretch;
  }

  /*gradients*/
  #gradient{
    background-image: linear-gradient(to bottom right,red,yellow);
    width: 100%;
    height: 100px; 
  }
  #gradient2{
    background-image: linear-gradient(to right,rgba(128,0,128,0),rgba(128,0,128,1));
    height: 100px;
  }

  /* radial gradient */
  #radial{
    background-image: radial-gradient(red 20% , purple 60%,blue 100%);
    height: 100px;
    
  }
  #radial2{
    height: 100px;
    background-image: radial-gradient(closest-side at 70% 20%,red,purple);
  }

  /*conic gradient */
  #conic{
    background-image: conic-gradient(red 90deg,yellow 45deg,green ) ;
    height: 100px;
  }
  /* shadows*/
  #shadow{
    text-shadow: 2px 2px 5px red;

  }
  /*box shadow*/
  div.fares{
    margin: 50px;
    width: 250px;
    height: 250px;
    box-shadow: 0 6px 8px 0 black;
    box-sizing:border-box;

  }
  div.mid{
    box-sizing:border-box;
    padding-top: 100px;
    text-shadow: 1px 1px 5px black;
    font-size:100px;
    text-align: center;
    width: 250px;
    height: 200px;
    color: white;
    background-color: green;
    
  }
  div.down{
    box-sizing:border-box;
    padding-top: 25px;
    text-align: center;
    width: 250px;
    height: 50px;
  }

  /*text effects :
  text-overflow, 
  word-wrap: break word, to be able to broken and wrap onto next line.
  word-break: keep-all ( break at hypens - )
  word-break: break-all ( breaks at any haracter) 
  writiing-mode (horizontal-tb, vertical-lr) : whether lines are laid horizontally or vertically*/
  

  /* 2D transformation */
  div.translate{
    border: 2px solid black;
    background-color: red;
    width:35%;
    height: 200px;

  }
  div.translate:hover{
    transform: translate(50px,100px);
  }
 div.rotate:hover{
   height: 200px;
   width: 35%;
   background-color:purple;
   transform: rotate(180deg);}

  div.scale:hover{
    transform: scale(0.5,0.5);}

  div.skewX:hover{
  transform:  skewX(20deg)}

  div.matrix:hover{
  transform: matrix(1,-0.3,0,1,0,0);}/*scaleX skewY skewX scale Y translateX translateY */

  /* 3D transforms */
  div.scaleX:hover{
  transform: rotateX(150deg);}

  /*transitions */
  div.transition{
    text-align: center;
    background-color: purple;
    width:100px ;
    height: 100px;
    transition: width 2s,height 3s, background 2s;}
  div.transition:hover{
    width: 100%;
    transition-timing-function: ease-in;
    /*ease - specifies a transition effect with a slow start, then fast, then end slowly (this is default)
linear - specifies a transition effect with the same speed from start to end
ease-in - specifies a transition effect with a slow start
ease-out - specifies a transition effect with a slow end
ease-in-out - specifies a transition effect with a slow start and end*/
    transition-delay: 1s;
    }

  div.transition_transform{
    margin: 10px;
    border: 2px solid black;
    background-color: red;
    width:35%;
    transition: transform 3s;
    height: 100px;}
  div.transition_transform:hover{
    transform: rotate(90deg);}
  
  div.background:hover{
    background-color: green;}

    /* Animations : */

    @keyframes example{
    0%{left: 0px;top: 0px;}
    25% {background-color: purple;left: 25px;top: 25px;}
    50%{background-color: green;left: 50px;top: 50px;}
    100%{background-color: yellow;left: 100px;top: 100px;}
    }
    div.anim{
    position: relative;
    background-color: blue;
    width: 100px;
    height: 100px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 3;
    animation-delay: 0.5s;
    animation-direction: alternate;
    animation-fill-mode: both;} /* animation: example 5s linear 2s infinite alternate; shorthand /*

 /*toolips*/

    .toolip {
      position: relative;
      display: inline-block;
      
    }
    .toolip .text{
      transition: opacity  1s;
      opacity: 0;
      position: absolute;
      bottom:120%;
      left:0;
      width:100%;
      border: 1px solid black;
      background-color: black;
      padding: 2px;
      color: white;
    }
    .toolip:hover .text{
      opacity: 1;
      
    }
    .toolip .text::after{
      content: "";
      position: absolute;
      top: 100%;
      left: 45%;
      border-width: 5px;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }

    /*image transition*/
    div.imganim img{
      width: 100%;
      height: auto;
}
  div.imganim{
    position: relative;
     }

  .overlay{
    transition: 1s ease;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  div.imganim:hover .overlay{
    opacity: 1;
  }
  
  .animtext{
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
      
  }

  /*image filters : filter: 
  blur()
brightness()
contrast()
drop-shadow()
grayscale()
hue-rotate()
invert()
opacity()
saturate()
sepia()  */

/*image shapes: 
clip-path: circle(50% at right)
shape-outside: circle(50%)
clip-path: ellipse(50% 35% at right)
 polygon : */
 #imgP{
  clip-path: polygon(50% 0%,100% 50%, 50% 100%,0% 50%);
  width: 50%;
  
 }
/* mask image */
  .mask {
    
  -webkit-mask-image: url(/images/apple.avif);
   mask-image: url(/images/apple.avif);
    mask-repeat: no-repeat;
  }

  div.button{
    display: flex;
    justify-content: center;
  }
  div.button a{
    border-bottom: 20px solid gray;
    transition: 1s all;
    text-decoration: none;
    padding: 15px 32px;
    background-color: green;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;   
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

    /*add effect when hover */
  
  div.button a:hover{
    background-color: rgb(67, 2, 2);
    padding-right:  40px; 

    /*add >> after hover */
  }
  div.button span::after{
    content:" \00bb";
    opacity: 0;
  }
 div.button span:hover::after{
  opacity:1;
  color: white;
  right: 0;
 }

 /*columns*/
 div.col{
  column-count: 3;
  column-gap: 20px;
  column-rule: 5px solid purple;
  column-width:33%;
 }

 /*user interface (user, outline-offset) */
 div.resize{
  display: flex;
  justify-content: center;
  resize:both;
  overflow: auto;
  border: 5px solid black;
 }
 div.outline{
  margin:50px;
  border:2px solid black;
  outline: 10px solid rgb(58, 5, 5);
  outline-offset: 20px;
 }

/*Variables*/
:root{
  --dark-purple: rgb(58,5,5)
}
h4{
  background-color: var(--dark-purple);
}
/*local variable*/
h5{
  --green: green;
  background-color: var(--green);
}

/* @property  (variables in more secure way)*/
@property --my-bg-color{
  syntax: "<color>";
  inherits: true;
  initial-value: red;
}
div.property{
  transition: all 0.5s;
  --my-bg-color:blue;
  background-color: var(--my-bg-color);
  padding: 15px 15px;
  cursor: pointer;
}
div.property:hover{
  --my-bg-color: red
}
/*media queries */
@media screen and (min-width:1000px){
  body{
    background-color: pink;
  }
}




    
  
    
    
  
    
    
